.cv-menus {
  width: 100%;
  z-index: 1000;
  background: #fafafa;
  border-bottom: 1px solid #ddd;
}
.cv-menus .container {
  position: relative;
}

.sticky-wrapper.is-sticky {
  height: auto !important;
}

.is-sticky .cv-menus {
  border-bottom: 2px solid #dddddd;
  background: rgba(255, 255, 255, 0.95);
  position: static !important;
}

.widget-navigation-menu li .ico-right:before,
.widget-mega-menu li .ico-right:before {
  display: none !important;
}

/* "Mobile" Only Menu -> Different Data Structure to MegaMenu */
nav.mobile-menu {
  display: block;
  clear: both;
}
nav.mobile-menu {
  *zoom: 1;
}
nav.mobile-menu:before, nav.mobile-menu:after {
  content: "";
  display: table;
}
nav.mobile-menu:after {
  clear: both;
}
@media (min-width: 62em) {
  nav.mobile-menu {
    display: none;
  }
}

.dummy-button {
  position: absolute;
  left: -999em;
}

/* Common styles of menus */
.dl-menuwrapper {
  z-index: 30;
  /* clear nivo slider */
  display: block;
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  -moz-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%;
}

.dl-menuwrapper a {
  text-decoration: none;
}

.dl-menuwrapper a:hover {
  text-decoration: none;
}

.dl-menuwrapper button {
  background: #ccc;
  border: none;
  width: 100%;
  text-align: left;
  text-indent: 0px;
  font-size: 14px;
  height: 40px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  color: #000;
}

.dl-menuwrapper button:before {
  margin-left: 2%;
  position: relative;
  top: 2px;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
  background: #dbd0d0;
}

.dl-menuwrapper button:after {
  position: absolute;
  top: -8px;
  right: 2%;
  line-height: 50px;
  font-size: 75%;
  font-family: 'icomoon';
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\e000";
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dl-menuwrapper li {
  position: relative;
}

.dl-menuwrapper li a {
  display: block;
  position: relative;
  padding: 8px 2%;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
  outline: none;
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
  position: absolute;
  top: 0;
  line-height: 36px;
  font-family: 'icomoon';
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\e000";
}

.dl-menuwrapper li.dl-back:after {
  left: 2%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
  right: 2%;
}

.dl-menuwrapper .dl-menu {
  margin: 0px 0 0 0;
  position: absolute;
  width: 100%;
  display: none;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
  display: block;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
  display: none;
}

/*
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link.
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  margin: 0;
}

/* Animation classes for moving out and in */
.dl-menu.dl-animate-out-1 {
  -webkit-animation: MenuAnimOut1 0.4s;
  -moz-animation: MenuAnimOut1 0.4s;
  animation: MenuAnimOut1 0.4s;
}

.dl-menu.dl-animate-out-2 {
  -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
  -moz-animation: MenuAnimOut2 0.3s ease-in-out;
  animation: MenuAnimOut2 0.3s ease-in-out;
}

.dl-menu.dl-animate-out-3 {
  -webkit-animation: MenuAnimOut3 0.4s ease;
  -moz-animation: MenuAnimOut3 0.4s ease;
  animation: MenuAnimOut3 0.4s ease;
}

.dl-menu.dl-animate-out-4 {
  -webkit-animation: MenuAnimOut4 0.4s ease;
  -moz-animation: MenuAnimOut4 0.4s ease;
  animation: MenuAnimOut4 0.4s ease;
}

.dl-menu.dl-animate-out-5 {
  -webkit-animation: MenuAnimOut5 0.4s ease;
  -moz-animation: MenuAnimOut5 0.4s ease;
  animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut1 {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}
@-webkit-keyframes MenuAnimOut2 {
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
}
@-webkit-keyframes MenuAnimOut3 {
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}
@-webkit-keyframes MenuAnimOut4 {
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}
@-webkit-keyframes MenuAnimOut5 {
  100% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
}
@-moz-keyframes MenuAnimOut1 {
  50% {
    -moz-transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    -moz-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    -moz-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}
@-moz-keyframes MenuAnimOut2 {
  100% {
    -moz-transform: translateX(-100%);
    opacity: 0;
  }
}
@-moz-keyframes MenuAnimOut3 {
  100% {
    -moz-transform: translateZ(300px);
    opacity: 0;
  }
}
@-moz-keyframes MenuAnimOut4 {
  100% {
    -moz-transform: translateZ(-300px);
    opacity: 0;
  }
}
@-moz-keyframes MenuAnimOut5 {
  100% {
    -moz-transform: translateY(40%);
    opacity: 0;
  }
}
@keyframes MenuAnimOut1 {
  50% {
    transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}
@keyframes MenuAnimOut2 {
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes MenuAnimOut3 {
  100% {
    transform: translateZ(300px);
    opacity: 0;
  }
}
@keyframes MenuAnimOut4 {
  100% {
    transform: translateZ(-300px);
    opacity: 0;
  }
}
@keyframes MenuAnimOut5 {
  100% {
    transform: translateY(40%);
    opacity: 0;
  }
}
.dl-menu.dl-animate-in-1 {
  -webkit-animation: MenuAnimIn1 0.3s;
  -moz-animation: MenuAnimIn1 0.3s;
  animation: MenuAnimIn1 0.3s;
}

.dl-menu.dl-animate-in-2 {
  -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
  -moz-animation: MenuAnimIn2 0.3s ease-in-out;
  animation: MenuAnimIn2 0.3s ease-in-out;
}

.dl-menu.dl-animate-in-3 {
  -webkit-animation: MenuAnimIn3 0.4s ease;
  -moz-animation: MenuAnimIn3 0.4s ease;
  animation: MenuAnimIn3 0.4s ease;
}

.dl-menu.dl-animate-in-4 {
  -webkit-animation: MenuAnimIn4 0.4s ease;
  -moz-animation: MenuAnimIn4 0.4s ease;
  animation: MenuAnimIn4 0.4s ease;
}

.dl-menu.dl-animate-in-5 {
  -webkit-animation: MenuAnimIn5 0.4s ease;
  -moz-animation: MenuAnimIn5 0.4s ease;
  animation: MenuAnimIn5 0.4s ease;
}

@-webkit-keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes MenuAnimIn1 {
  0% {
    -moz-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    -moz-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    -moz-transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}
@-moz-keyframes MenuAnimIn2 {
  0% {
    -moz-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -moz-transform: translateX(0px);
    opacity: 1;
  }
}
@-moz-keyframes MenuAnimIn3 {
  0% {
    -moz-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
}
@-moz-keyframes MenuAnimIn4 {
  0% {
    -moz-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
}
@-moz-keyframes MenuAnimIn5 {
  0% {
    -moz-transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes MenuAnimIn1 {
  0% {
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes MenuAnimIn2 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes MenuAnimIn3 {
  0% {
    transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes MenuAnimIn4 {
  0% {
    transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes MenuAnimIn5 {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
  -webkit-animation: SubMenuAnimIn1 0.4s ease;
  -moz-animation: SubMenuAnimIn1 0.4s ease;
  animation: SubMenuAnimIn1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
  -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
  -moz-animation: SubMenuAnimIn2 0.3s ease-in-out;
  animation: SubMenuAnimIn2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
  -webkit-animation: SubMenuAnimIn3 0.4s ease;
  -moz-animation: SubMenuAnimIn3 0.4s ease;
  animation: SubMenuAnimIn3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
  -webkit-animation: SubMenuAnimIn4 0.4s ease;
  -moz-animation: SubMenuAnimIn4 0.4s ease;
  animation: SubMenuAnimIn4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
  -webkit-animation: SubMenuAnimIn5 0.4s ease;
  -moz-animation: SubMenuAnimIn5 0.4s ease;
  animation: SubMenuAnimIn5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
}
@-moz-keyframes SubMenuAnimIn1 {
  0% {
    -moz-transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -moz-transform: translateX(0px);
    opacity: 1;
  }
}
@-moz-keyframes SubMenuAnimIn2 {
  0% {
    -moz-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -moz-transform: translateX(0px);
    opacity: 1;
  }
}
@-moz-keyframes SubMenuAnimIn3 {
  0% {
    -moz-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
}
@-moz-keyframes SubMenuAnimIn4 {
  0% {
    -moz-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
}
@-moz-keyframes SubMenuAnimIn5 {
  0% {
    -moz-transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn1 {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn2 {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn3 {
  0% {
    transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn4 {
  0% {
    transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn5 {
  0% {
    transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
  -webkit-animation: SubMenuAnimOut1 0.4s ease;
  -moz-animation: SubMenuAnimOut1 0.4s ease;
  animation: SubMenuAnimOut1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
  -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
  -moz-animation: SubMenuAnimOut2 0.3s ease-in-out;
  animation: SubMenuAnimOut2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
  -webkit-animation: SubMenuAnimOut3 0.4s ease;
  -moz-animation: SubMenuAnimOut3 0.4s ease;
  animation: SubMenuAnimOut3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
  -webkit-animation: SubMenuAnimOut4 0.4s ease;
  -moz-animation: SubMenuAnimOut4 0.4s ease;
  animation: SubMenuAnimOut4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
  -webkit-animation: SubMenuAnimOut5 0.4s ease;
  -moz-animation: SubMenuAnimOut5 0.4s ease;
  animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
}
@-webkit-keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
}
@-webkit-keyframes SubMenuAnimOut3 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}
@-webkit-keyframes SubMenuAnimOut4 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}
@-webkit-keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
}
@-moz-keyframes SubMenuAnimOut1 {
  0% {
    -moz-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -moz-transform: translateX(50%);
    opacity: 0;
  }
}
@-moz-keyframes SubMenuAnimOut2 {
  0% {
    -moz-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -moz-transform: translateX(100%);
    opacity: 0;
  }
}
@-moz-keyframes SubMenuAnimOut3 {
  0% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -moz-transform: translateZ(-300px);
    opacity: 0;
  }
}
@-moz-keyframes SubMenuAnimOut4 {
  0% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -moz-transform: translateZ(300px);
    opacity: 0;
  }
}
@-moz-keyframes SubMenuAnimOut5 {
  0% {
    -moz-transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -moz-transform: translateZ(-200px);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut1 {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut2 {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut3 {
  0% {
    transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    transform: translateZ(-300px);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut4 {
  0% {
    transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    transform: translateZ(300px);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut5 {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(-200px);
    opacity: 0;
  }
}
/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
  display: block;
}

.no-js .dl-menuwrapper li.dl-back {
  display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: '';
}

/* Colors for menu */
.dl-menuwrapper button {
  border-radius: 0 0;
  padding-left: 2%;
}

/*------------------------------------*\
    STANDARD "MEGAMENU"
\*------------------------------------*/
.widget-navigation-menu, .widget-mega-menu {
  display: none;
}
@media (min-width: 62em) {
  .widget-navigation-menu, .widget-mega-menu {
    display: block;
    clear: both;
  }
  .widget-navigation-menu, .widget-mega-menu {
    *zoom: 1;
  }
  .widget-navigation-menu:before, .widget-navigation-menu:after, .widget-mega-menu:before, .widget-mega-menu:after {
    content: "";
    display: table;
  }
  .widget-navigation-menu:after, .widget-mega-menu:after {
    clear: both;
  }
}
@media (min-width: 62em) {
  .widget-navigation-menu .container, .widget-mega-menu .container {
    width: 100%;
  }
}
.widget-navigation-menu li, .widget-mega-menu li {
  display: inline-block;
  float: left;
  margin: 0 0 0 15px;
}
.widget-navigation-menu li .ico-right:before, .widget-mega-menu li .ico-right:before {
  top: 0px;
}
@media (min-width: 92em) {
  .widget-navigation-menu li .ico-right:before, .widget-mega-menu li .ico-right:before {
    top: 3px;
  }
}
.widget-navigation-menu .dropdown-twolevel, .widget-mega-menu .dropdown-twolevel {
  position: relative;
}
.widget-navigation-menu .multi-line a, .widget-mega-menu .multi-line a {
  padding-top: 3px;
  padding-right: 20px;
}
.widget-navigation-menu .multi-line a:before, .widget-mega-menu .multi-line a:before {
  top: 9px;
  right: -17px;
}

/* 1. TOP LEVEL (Main links) */
.widget-navigation-menu ul, .widget-mega-menu ul {
  margin: 0;
  padding: 0;
  height: inherit;
}
.widget-navigation-menu ul, .widget-mega-menu ul {
  *zoom: 1;
}
.widget-navigation-menu ul:before, .widget-navigation-menu ul:after, .widget-mega-menu ul:before, .widget-mega-menu ul:after {
  content: "";
  display: table;
}
.widget-navigation-menu ul:after, .widget-mega-menu ul:after {
  clear: both;
}

.widget-navigation-menu ul > li, .widget-mega-menu ul > li {
  margin: 0;
  padding: 0;
  float: left;
  display: inline-block;
  height: inherit;
}

.widget-navigation-menu ul > li > a, .widget-mega-menu ul > li > a {
  color: #000;
  font-size: 12px;
  margin: 0;
  padding: 10px 7px 12px 7px;
  display: inline-block;
  font-weight: 600;
  height: inherit;
}
@media (min-width: 97em) {
  .widget-navigation-menu ul > li > a, .widget-mega-menu ul > li > a {
    padding: 10px 15px 10px 15px;
    font-size: 0.8em;
    margin: 0 0 0 0;
  }
}

@media (min-width: 62em) {
  .widget-navigation-menu ul > li:first-child > a, .widget-mega-menu ul > li:first-child > a {
    padding-left: 10px;
  }
}

@media (min-width: 62em) {
  .widget-navigation-menu .dropdown-column ul > li:first-child > a, .widget-mega-menu .dropdown-column ul > li:first-child > a {
    padding-left: 5px;
  }
}

@media (min-width: 62em) {
  .widget-navigation-menu .dropdown-area ul > li:first-child > a, .widget-mega-menu .dropdown-area ul > li:first-child > a {
    padding-left: 5px;
  }
}

/* 2. Dropdown Area */
.widget-navigation-menu .dropdown-area, .widget-mega-menu .dropdown-area {
  display: none;
  z-index: 5000;
  width: 100%;
  border-radius: 0 0 4px 4px;
}
.widget-navigation-menu .dropdown-area .mm-col, .widget-mega-menu .dropdown-area .mm-col {
  float: left;
  display: inline-block;
  width: 20%;
  padding: 1%;
  min-height: 150px;
}
.widget-navigation-menu .dropdown-area .mm-heading, .widget-mega-menu .dropdown-area .mm-heading {
  display: block;
  padding: 0 0 2px;
  margin: 0 0 5px;
}
.widget-navigation-menu .dropdown-area .mm-heading:hover, .widget-mega-menu .dropdown-area .mm-heading:hover {
  cursor: pointer;
}
.widget-navigation-menu .dropdown-area .mm-heading:before, .widget-mega-menu .dropdown-area .mm-heading:before {
  position: relative;
  top: 1px;
  margin: 0;
}
.widget-navigation-menu .dropdown-area ul, .widget-mega-menu .dropdown-area ul {
  margin: 0 0 15px;
  padding: 0;
}
.widget-navigation-menu .dropdown-area li, .widget-mega-menu .dropdown-area li {
  margin: 0;
  padding: 0;
  display: block;
  float: none;
}
.widget-navigation-menu .dropdown-area li a, .widget-mega-menu .dropdown-area li a {
  display: block;
  border-radius: 0 !important;
  border-top: none;
}

.widget-navigation-menu .dropdown-area.dropdown-area-custom, .widget-mega-menu .dropdown-area.dropdown-area-custom {
  padding: 1%;
}
.widget-navigation-menu .dropdown-area.dropdown-area-custom .mm-col, .widget-mega-menu .dropdown-area.dropdown-area-custom .mm-col {
  width: 100%;
  padding-top: 0;
}

.widget-navigation-menu ul > li:hover > .dropdown-area, .widget-mega-menu ul > li:hover > .dropdown-area {
  display: block;
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
}
@media (min-width: 62em) {
  .widget-navigation-menu ul > li:hover > .dropdown-area, .widget-mega-menu ul > li:hover > .dropdown-area {
    top: 40px;
  }
}

.widget-navigation-menu ul > li.align-right:hover > .dropdown-area, .widget-mega-menu ul > li.align-right:hover > .dropdown-area {
  right: 0;
  left: auto;
}

/* 2. Dropdown Area */
.widget-navigation-menu .dropdown-column, .widget-mega-menu .dropdown-column {
  display: none;
  z-index: 5000;
  width: 100%;
}
.widget-navigation-menu .dropdown-column ul, .widget-mega-menu .dropdown-column ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget-navigation-menu .dropdown-column li, .widget-mega-menu .dropdown-column li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  float: none;
  width: auto;
}
.widget-navigation-menu .dropdown-column li a, .widget-mega-menu .dropdown-column li a {
  display: block;
  border-radius: 0 !important;
  border-top: none;
}

.widget-navigation-menu ul > li:hover > .dropdown-column, .widget-mega-menu ul > li:hover > .dropdown-column {
  display: block;
  position: absolute;
  left: 0;
  top: 30px;
  width: 240px;
}
@media (min-width: 62em) {
  .widget-navigation-menu ul > li:hover > .dropdown-column, .widget-mega-menu ul > li:hover > .dropdown-column {
    top: 40px;
  }
}

.widget-navigation-menu ul > li.align-right:hover > .dropdown-column, .widget-mega-menu ul > li.align-right:hover > .dropdown-column {
  right: 0;
  left: auto;
}

@media (min-width: 92em) {
  .widget-navigation-menu ul > li.align-right:hover > .dropdown-column, .widget-mega-menu ul > li.align-right:hover > .dropdown-column {
    right: auto;
    left: 0;
  }
}

.dropdown-area .mm-col:last-child {
  float: right;
  text-align: right;
}
